<div class="flex flex-col gap-3 p-3">
  <p-iconfield iconPosition="left" class="w-full rounded-lg bg-surface-container-lowest">
    <input
      pInputText
      type="text"
      [placeholder]="'logs.filters.searchPlaceholder' | translate"
      [ngModel]="searchTerm()"
      (ngModelChange)="onSearchInput($event)"
      class="w-full border-0 bg-transparent px-4 py-2 text-xs text-on-surface placeholder:text-on-surface-variant shadow-none focus:outline-none"
      [attr.aria-label]="'logs.filters.searchAriaLabel' | translate"
      pSize="small"
    />
    <p-inputicon>
      <i class="pi pi-search text-xs text-on-surface-variant"></i>
    </p-inputicon>
  </p-iconfield>

  <div class="flex flex-col gap-2">
    <p-datepicker
      [ngModel]="createdOn()"
      (ngModelChange)="onCreatedOnInput($event)"
      [placeholder]="'logs.filters.createdOn' | translate"
      dateFormat="dd.mm.yy"
      [showIcon]="true"
      iconDisplay="input"
      [showClear]="true"
      inputStyleClass="text-xs w-full"
      size="small"
      appendTo="body"
    />
    <p-datepicker
      [ngModel]="createdRange()"
      (ngModelChange)="onCreatedRangeInput($event)"
      [placeholder]="'logs.filters.dateRange' | translate"
      dateFormat="dd.mm.yy"
      selectionMode="range"
      rangeSeparator=" - "
      [showIcon]="true"
      iconDisplay="input"
      [showClear]="true"
      inputStyleClass="text-xs w-full"
      size="small"
      appendTo="body"
    />
  </div>

  <div class="flex items-center justify-between gap-3">
    <button
      pButton
      type="button"
      severity="secondary"
      size="small"
      icon="pi pi-times"
      [text]="true"
      (click)="clearFilters()"
    >
      {{ 'logs.filters.clear' | translate }}
    </button>

    <div #sortSplitButtonAnchor>
      <p-splitbutton
        #sortSplitButton
        severity="secondary"
        size="small"
        [text]="true"
        [label]="sortLabel()"
        [icon]="sortIcon()"
        [model]="sortBasisMenuItems()"
        dropdownIcon="pi pi-ellipsis-v"
        [tooltip]="sortTooltip()"
        [tooltipOptions]="sortTooltipOptions"
        [buttonProps]="sortButtonProps()"
        [menuButtonProps]="sortMenuButtonProps()"
        appendTo="body"
        (onClick)="sortToggled.emit()"
        (onMenuShow)="alignSortMenu(sortSplitButtonAnchor, sortSplitButton)"
      />
    </div>
  </div>
</div>
